*{
    font-family: Mulish;
    letter-spacing: -0.24px;
}
.hhcss_emojiHelloChat svg{
    width:15px;
    height:15px;
}
button:hover .hhcss_iconChatFillPath{
    fill: #0566ff;
}
.hhcss_messageLoading{
    background: linear-gradient(white, white) padding-box padding-box, linear-gradient(135deg, #00a9ff, #01ccff) border-box border-box;
}
.hhcss_puceAnimation{
    display: inline-block;
    margin-left: 8px;
}
@keyframes blink{
    0%, 60%, 100% {
        transform: initial;
    }
    30% {
        transform: translateY(-5px);
    }
}
.hhcss_puceAnimation span{
    display: inline-block;
    height: 5px;
    width: 5px;
    margin: 11px 1px 0px 2px;
    background-color: #00a9ff;
    border-radius: 50%;
    animation: 1.3s linear 0s infinite normal none running blink;
}
.hhcss_puceAnimation span:nth-child(2) {
    animation-delay: -1.1s
}
.hhcss_puceAnimation span:nth-child(3) {
    animation-delay: -0.9s;
}
#hellohumans-chat-iframe{
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.hhcss_message-operator{
    background: linear-gradient(white, white) padding-box padding-box, linear-gradient(135deg, #00a9ff, #01ccff) border-box border-box;
}
.hhcss_message-operator.hhcss_chat-error{
     color: #06132b;
     background: #f0f2f7;
}
#conversation-group{
     position: static !important;
 }
#conversation-input,#conversation-input textarea, #conversation-group{
     scrollbar-width: none; /* Pour Firefox */
     -ms-overflow-style: none; /* Pour Edge */
     overflow-y: auto;
     &::-webkit-scrollbar {
          display: none; /* Pour Chrome, Safari et Opera */
     }
}
#conversation-group #conversation-scroll {
     width: 16px;
     height: calc(339px - 26px);
     position: absolute;
     right: 0;
     padding: 0 4px;
}
#conversation-group #conversation-scroll div {
     width: 8px;
     margin: 0 1px;
     background: #00173b;
     opacity: 0;
     top: 0;
     position: absolute;
     border-radius: 4px;
     cursor: pointer;
     transition: opacity 0.1s ease-in-out, width 0.1s ease-in-out,
     margin 0.1s ease-in-out;
     z-index: 2;
     user-select: none;
}
#conversation-group:hover #conversation-scroll div {
     body:not(.mobile) &,
     #body:not(.mobile) & {
          opacity: 0.16;
     }
}
#conversation-group #conversation-scroll div:hover {
     body:not(.mobile) &,
     #body:not(.mobile) & {
          opacity: 0.32;
          width: 10px;
          margin: 0;
     }
}

#conversation-group #conversation-scroll div:active{
     body:not(.mobile) &,
     #body:not(.mobile) & {
          opacity: 0.32;
          width: 8px;
          margin: 0;
     }
}
