*{
    font-family: Mulish;
}
.hhcss_chat{
    max-height: calc(100% - 47px);
    height: 699px;
    display: flex;
    flex-direction: column;
    transition: height 200msease-in-out;
}
.hhcss_chat{
    width: 372px;
    position: absolute;
    bottom: 26px;
    border-radius:16px;
    pointer-events: auto;
    box-shadow: rgba(0, 18, 46, 0.16) 0px 8px 18px 0px;
    overflow: hidden;
    z-index: 1;
    right: 26px;
    left: auto;
}
svg.directional-icon{
    fill:#fff;
}
.hhcss_emojiHelloChat svg{
    width:15px;
    height:15px;
}
.hhcss_headerWave{
    position:relative;
}
.hhcss_headerWave svg{
    height: 24px;
    position: absolute;
    width: calc(100% + 10px);
    bottom: -12px;
    left: -4px;
}
.hhcss_topTiple{
    background: rgb(255, 255, 255);
    padding: 6px 8px;
    border-radius: 4px;
    box-shadow: rgba(0, 27, 71, 0.24) 0px 8px 20px 0px;
    font-size: 13px;
    position: absolute;
    /* opacity: 0; */
    pointer-events: none;
    white-space: nowrap;
    transition: 0.16sease -in-out;
    z-index: 1;
    top: 50%;
    color: rgb(6, 19, 43);
}
.hhcss_topTiple.btnLeft{
    inset-inline-start: 100%;
    margin-inline-start: 10px;
    transform: translate(-5px, -50%);
}
.hhcss_topTiple.btnRight{
    inset-inline-end: 100%;
    margin-inline-end: 10px;
    transform: translate(5px, -50%);
}
.hhcss_topTipleBottom{
    background: rgb(255, 255, 255);
    padding: 6px 8px;
    border-radius: 4px;
    box-shadow: rgba(0, 27, 71, 0.24) 0px 8px 20px 0px;
    font-size: 13px;
    position: absolute;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1;
    color: rgb(6, 19, 43);
    bottom: calc(100% - 4px);
    left: 50%;
    transform: translate(-50%, 10px);
    opacity: 0;
    transition: opacity 0.16sease-in-out, transform 0.16sease-in-out;
    gap: 8px;
}
.hhcss_topTipleBottom .shortcut{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: rgb(100, 116, 145);
}
.hhcss_topTipleBottom .shortcut .svg{
    width: 10px;
    height: 10px;
}
.hhcss_topTipleBottom.btnBottom{
    transform: translate(-50%, -10px);
    bottom: calc(100% - 4px);
    left: 50%;
}
button:hover .hhcss_iconChatFillPath{
    fill: #0566ff;
}
