
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconnectez-vous pour continuer</title>
    <style>
        body, table, td {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', Arial, sans-serif;
            background-color: #f3f5f8;
        }
        img {
            display: block;
            border: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            background: #ffffff;
            border-radius: 6px;
        }
        .header {
            padding: 20px;
            text-align: left;
            border-bottom: 4px solid #303f9f;
        }
        .header img {
            height: 26px;
        }
        .content {
            padding: 30px 40px;
            color: #080f1a;
            font-size: 16px;
            line-height: 24px;
        }
        .btn {
            display: inline-block;
            margin: 15px auto;
            padding: 12px 24px;
            font-size: 16px;
            color: #ffffff;
            background-color: #303f9f;
            border-radius: 3px;
            text-decoration: none;
            text-align: center;
            width: 280px;
        }
        .footer {
            text-align: center;
            padding: 20px;
            font-size: 12px;
            color: #939eb4;
        }
        @media (max-width: 600px) {
            .content {
                padding: 20px;
            }
            .btn {
                width:fit-content;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="https://www.hellohumans.fr/">
            <img src="data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTg5IDI4IiBmaWxsPSIjMzAzZjlmIiB4bWxucz0iaHR0cDovL3d3
dy53My5vcmcvMjAwMC9zdmciPiA8cGF0aCBkPSJNNTIuNDcgMEM1NC41NCAwIDU2LjIzIDEuNjgg
NTYuMjMgMy43NlYyMy42N0M1Ni4yMyAyNS43NCA1NC41NSAyNy40MyA1Mi40NyAyNy40M0M1MC4z
OSAyNy40MyA0OC43MSAyNS43NSA0OC43MSAyMy42N1YzLjc2QzQ4LjcxIDEuNjkgNTAuMzkgMCA1
Mi40NyAwWk02Mi42NyAwQzY0Ljc0IDAgNjYuNDMgMS42OCA2Ni40MyAzLjc2VjIzLjY3QzY2LjQz
IDI1Ljc0IDY0Ljc1IDI3LjQzIDYyLjY3IDI3LjQzQzYwLjU5IDI3LjQzIDU4LjkxIDI1Ljc1IDU4
LjkxIDIzLjY3VjMuNzZDNTguOTEgMS42OSA2MC41OSAwIDYyLjY3IDBaTTQyLjg5IDE4Ljc4SDMz
LjAxQzMzLjU2IDIwLjU4IDM1LjEyIDIxLjc3IDM3LjM2IDIxLjc3QzM5LjYgMjEuNzcgNDAuNjUg
MjAuNzUgNDIuMzkgMjAuNzVDNDMuOTUgMjAuNzUgNDUuMTQgMjEuNjkgNDUuMTQgMjMuMjlDNDUu
MTQgMjUuOTkgNDEuNTkgMjcuNTUgMzcuMTIgMjcuNTVDMzAuNyAyNy41NSAyNS45NyAyMi44OCAy
NS45NyAxNy4xNUMyNS45NyAxMS40MiAzMC4xOSA2LjcxIDM2Ljc0IDYuNzFDNDMuMjkgNi43MSA0
Ni43NSAxMS4wNSA0Ni43NSAxNS4wNkM0Ni43NSAxNy4yNyA0NS40NCAxOC43OSA0Mi45MSAxOC43
OUw0Mi44OSAxOC43OFpNMzMuMTMgMTQuNzdIMzkuODlDMzkuMzQgMTMuMDEgMzguMDcgMTIuMjMg
MzYuNTEgMTIuMjNDMzQuODYgMTIuMjMgMzMuNjggMTMuMjEgMzMuMTMgMTQuNzdaTTc5LjI3IDYu
N0M4NS4xNiA2LjcgOTAgMTEuMzUgOTAgMTcuMTFDOTAgMjIuODcgODUuMTYgMjcuNDggNzkuMjcg
MjcuNDhDNzMuMzggMjcuNDggNjguNTQgMjIuODMgNjguNTQgMTcuMTFDNjguNTQgMTEuMzkgNzMu
MzggNi43IDc5LjI3IDYuN1pNNzkuMjcgMTIuODZDNzcgMTIuODYgNzUuMzEgMTQuNyA3NS4zMSAx
Ny4xMUM3NS4zMSAxOS41MiA3Ni45OSAyMS4zMSA3OS4yNyAyMS4zMUM4MS41NSAyMS4zMSA4My4y
MyAxOS40NyA4My4yMyAxNy4xMUM4My4yMyAxNC43NSA4MS41NSAxMi44NiA3OS4yNyAxMi44NlpN
MTkuODMgMS4wOUMxNy42MSAxLjA5IDE1LjggMi44OSAxNS44IDUuMTJWMTMuNTlDMTQuMjIgMTUu
MDcgMTEuNyAxNC45NyAxMC42OSAxNC44NUMxMC42IDE0Ljg0IDEwLjUzIDE0LjkzIDEwLjU2IDE1
LjAxQzEwLjgyIDE1LjY5IDExLjk2IDE3LjgzIDE1LjggMTguNjFWMjMuMzlDMTUuOCAyNS42MSAx
Ny42IDI3LjQyIDE5LjgzIDI3LjQyQzIyLjA2IDI3LjQyIDIzLjg2IDI1LjYyIDIzLjg2IDIzLjM5
VjUuMTJDMjMuODYgMi45IDIyLjA2IDEuMDkgMTkuODMgMS4wOVpNNCAxMy40N0MzLjk5IDEzLjM3
IDQuMDkgMTMuMyA0LjE4IDEzLjM1QzQuNzIgMTMuNjMgNi4yOSAxNC4zNyA4LjA2IDE0LjQ5VjUu
MTJDOC4wNiAyLjkgNi4yNiAxLjA5IDQuMDMgMS4wOUMxLjggMS4wOSAwIDIuODkgMCA1LjEyVjIz
LjRDMCAyNS42MiAxLjggMjcuNDMgNC4wMyAyNy40M0M2LjI2IDI3LjQzIDguMDYgMjUuNjMgOC4w
NiAyMy40VjE4LjI3QzQuNzYgMTcuMzIgNC4xMiAxNC4zMyA0IDEzLjQ3WiIvPiA8cGF0aCBkPSJN
MTA5IDkuMzk4QzEwOS45NTQgOS4zOTggMTEwLjc0IDEwLjIwOCAxMTAuNzQgMTEuMTYyVjI0LjM5
OEMxMTAuNzQgMjUuMzUyIDEwOS45NTQgMjYuMTYyIDEwOSAyNi4xNjJDMTA4LjA0NiAyNi4xNjIg
MTA3LjI2IDI1LjM1MiAxMDcuMjYgMjQuMzk4VjE5LjE0Mkg5OC45OFYyNC4zOThDOTguOTggMjUu
MzUyIDk4LjE5NCAyNi4xNjIgOTcuMjQgMjYuMTYyQzk2LjI4NiAyNi4xNjIgOTUuNSAyNS4zNTIg
OTUuNSAyNC4zOThWMTEuMTYyQzk1LjUgMTAuMjA4IDk2LjI4NiA5LjM5OCA5Ny4yNCA5LjM5OEM5
OC4xOTQgOS4zOTggOTguOTggMTAuMjA4IDk4Ljk4IDExLjE2MlYxNS45ODZIMTA3LjI2VjExLjE2
MkMxMDcuMjYgMTAuMjA4IDEwOC4wNDYgOS4zOTggMTA5IDkuMzk4Wk0xMjMuNDYgMTMuNjdDMTI0
LjM5NiAxMy42NyAxMjUuMTQ2IDE0LjQyIDEyNS4xNDYgMTUuMzU2VjI0LjQ3NkMxMjUuMTQ2IDI1
LjQxMiAxMjQuMzk2IDI2LjE2MiAxMjMuNDYgMjYuMTYyQzEyMi41NDIgMjYuMTYyIDEyMS43ODYg
MjUuNDEyIDEyMS43ODYgMjQuNDc2VjI0LjIxOEMxMjEuMzA2IDI1LjI1IDEyMC4yNjIgMjYuMzI0
IDExOC4xMDIgMjYuMzI0QzExNS43MDIgMjYuMzI0IDExMy43NDYgMjQuNjg2IDExMy43NDYgMjEu
NzU4VjE1LjM1NkMxMTMuNzQ2IDE0LjQyIDExNC41MDIgMTMuNjcgMTE1LjQyIDEzLjY3QzExNi4z
NTYgMTMuNjcgMTE3LjEwNiAxNC40MiAxMTcuMTA2IDE1LjM1NlYyMC4zODRDMTE3LjEwNiAyMi40
NjYgMTE4LjA5NiAyMy4xNjggMTE5LjMyNiAyMy4xNjhDMTIwLjUyNiAyMy4xNjggMTIxLjc4NiAy
Mi40NjYgMTIxLjc4NiAyMC4zODRWMTUuMzU2QzEyMS43ODYgMTQuNDIgMTIyLjU0MiAxMy42NyAx
MjMuNDYgMTMuNjdaTTE0Mi44MTIgMTMuNTA4QzE0NS4wOTIgMTMuNTA4IDE0Ni44MDggMTUuMDYy
IDE0Ni44MDggMTcuOTlWMjQuNDc2QzE0Ni44MDggMjUuNDEyIDE0Ni4wNTggMjYuMTYyIDE0NS4x
MzQgMjYuMTYyQzE0NC4yMDQgMjYuMTYyIDE0My40NDggMjUuNDEyIDE0My40NDggMjQuNDc2VjE5
LjQ0OEMxNDMuNDQ4IDE3LjM2NiAxNDIuNTc4IDE2LjY2NCAxNDEuNDI2IDE2LjY2NEMxNDAuMzQ2
IDE2LjY2NCAxMzkuMTY0IDE3LjM2NiAxMzkuMTY0IDE5LjQ0OFYyNC40NzZDMTM5LjE2NCAyNS40
MTIgMTM4LjQxNCAyNi4xNjIgMTM3LjQ5IDI2LjE2MkMxMzYuNTYgMjYuMTYyIDEzNS44MDQgMjUu
NDEyIDEzNS44MDQgMjQuNDc2VjE5LjQ0OEMxMzUuODA0IDE3LjM2NiAxMzQuOTM0IDE2LjY2NCAx
MzMuNzgyIDE2LjY2NEMxMzIuNzAyIDE2LjY2NCAxMzEuNTIgMTcuMzY2IDEzMS41MiAxOS40NDhW
MjQuNDc2QzEzMS41MiAyNS40MTIgMTMwLjc3IDI2LjE2MiAxMjkuODQ2IDI2LjE2MkMxMjguOTE2
IDI2LjE2MiAxMjguMTYgMjUuNDEyIDEyOC4xNiAyNC40NzZWMTUuMzU2QzEyOC4xNiAxNC40MiAx
MjguOTE2IDEzLjY3IDEyOS44NDYgMTMuNjdDMTMwLjc3IDEzLjY3IDEzMS41MiAxNC40MiAxMzEu
NTIgMTUuMzU2VjE1LjYxNEMxMzIgMTQuNTgyIDEzMy4wODYgMTMuNTA4IDEzNS4xNjggMTMuNTA4
QzEzNi44MTIgMTMuNTA4IDEzOC4xNjIgMTQuMzEyIDEzOC43ODYgMTUuODZDMTM5LjU2IDE0LjQy
IDE0MC44OTggMTMuNTA4IDE0Mi44MTIgMTMuNTA4Wk0xNTUuMzYgMTMuNTkyQzE1OC45MDYgMTMu
NTkyIDE2MC42ODggMTQuOTg0IDE2MC42ODggMTguNDUyVjI0LjQ3NkMxNjAuNjg4IDI1LjQxMiAx
NTkuOTM4IDI2LjE2MiAxNTkuMDE0IDI2LjE2MkMxNTguMDg0IDI2LjE2MiAxNTcuMzI4IDI1LjQx
MiAxNTcuMzI4IDI0LjQ3NlYyNC4yOTZDMTU2LjUyNCAyNS42NDYgMTU1LjE5OCAyNi4zMjQgMTUz
LjU5IDI2LjMyNEMxNTEuMzEgMjYuMzI0IDE0OS4zODQgMjQuOTkyIDE0OS4zODQgMjIuNTA4QzE0
OS4zODQgMTkuOTk0IDE1MS41NjggMTguNTg0IDE1NC41MzIgMTguNTg0QzE1NS40MzIgMTguNTg0
IDE1Ni4zMiAxOC43MzQgMTU3LjMxNiAxOS4wNThWMTguNzQ2QzE1Ny4zMTYgMTcuMzA2IDE1Ni42
MDggMTYuNTE0IDE1NC43NDggMTYuNTE0QzE1My43ODggMTYuNTE0IDE1My4wNjggMTYuNzQ4IDE1
Mi41NDYgMTYuOTM0QzE1Mi4xMDggMTcuMTAyIDE1MS43OTYgMTcuMjE2IDE1MS4zNCAxNy4yMTZD
MTUwLjczNCAxNy4yMTYgMTUwLjA5OCAxNi43MzYgMTUwLjA5OCAxNS45MDhDMTUwLjA5OCAxNS4y
NDIgMTUwLjUgMTQuNzA4IDE1MS4yMzIgMTQuMzlDMTUyLjIwNCAxMy45ODIgMTUzLjU5IDEzLjU5
MiAxNTUuMzYgMTMuNTkyWk0xNTQuNDQ4IDIzLjgyOEMxNTUuOTg0IDIzLjgyOCAxNTcuMjc0IDIy
Ljc1NCAxNTcuMzIyIDIxLjA1NlYyMC45NjZDMTU2LjUgMjAuNjE4IDE1NS42OSAyMC40NzQgMTU0
Ljk4OCAyMC40NzRDMTUzLjM4NiAyMC40NzQgMTUyLjU1OCAyMS4wNjggMTUyLjU1OCAyMi4yMDJD
MTUyLjU1OCAyMy4zMTggMTUzLjMyIDIzLjgyOCAxNTQuNDQ4IDIzLjgyOFpNMTcwLjg3OSAxMy41
MDhDMTczLjI3OSAxMy41MDggMTc1LjM1NSAxNS4wNjIgMTc1LjM1NSAxNy45OVYyNC40NzZDMTc1
LjM1NSAyNS40MTIgMTc0LjYwNSAyNi4xNjIgMTczLjY4MSAyNi4xNjJDMTcyLjc1MSAyNi4xNjIg
MTcxLjk5NSAyNS40MTIgMTcxLjk5NSAyNC40NzZWMTkuNDQ4QzE3MS45OTUgMTcuMzY2IDE3MC45
MjcgMTYuNjY0IDE2OS42NTUgMTYuNjY0QzE2OC40NTUgMTYuNjY0IDE2Ny4wNzUgMTcuMzY2IDE2
Ny4wNzUgMTkuNDQ4VjI0LjQ3NkMxNjcuMDc1IDI1LjQxMiAxNjYuMzI1IDI2LjE2MiAxNjUuNDAx
IDI2LjE2MkMxNjQuNDcxIDI2LjE2MiAxNjMuNzE1IDI1LjQxMiAxNjMuNzE1IDI0LjQ3NlYxNS4z
NTZDMTYzLjcxNSAxNC40MiAxNjQuNDcxIDEzLjY3IDE2NS40MDEgMTMuNjdDMTY2LjMyNSAxMy42
NyAxNjcuMDc1IDE0LjQyIDE2Ny4wNzUgMTUuMzU2VjE1LjYxNEMxNjcuNTU1IDE0LjU4MiAxNjgu
NzE5IDEzLjUwOCAxNzAuODc5IDEzLjUwOFpNMTgxLjMwMyAxNy4xNTZDMTgxLjMwMyAxOC44NDgg
MTg4LjAyMyAxNy43MDggMTg4LjAyMyAyMi4zMzRDMTg4LjAyMyAyNS4wNjQgMTg1LjY5NSAyNi4z
MjQgMTgyLjUyMSAyNi4zMjRDMTgxLjA2MyAyNi4zMjQgMTc5LjYzNSAyNi4wNzIgMTc4LjY2OSAy
NS42ODhDMTc4LjA5MyAyNS40NjYgMTc3LjcwOSAyNC45OTIgMTc3LjcwOSAyNC4zOEMxNzcuNzA5
IDIzLjYgMTc4LjI2MSAyMyAxNzkuMTEzIDIzQzE4MC4xMDMgMjMgMTgwLjk2MSAyMy42MjQgMTgy
LjYxMSAyMy42MjRDMTgzLjc3NSAyMy42MjQgMTg0LjY4NyAyMy40MDIgMTg0LjY4NyAyMi41OTJD
MTg0LjY4NyAyMC43MDIgMTc4LjAyNyAyMS44ODQgMTc4LjAyNyAxNy4zOTZDMTc4LjAyNyAxNC43
MzggMTgwLjM5MSAxMy41MDggMTgzLjIxMSAxMy41MDhDMTg0LjUxOSAxMy41MDggMTg1Ljc5NyAx
My43NDIgMTg2LjY5MSAxNC4xMDhDMTg3LjMzMyAxNC4zNjYgMTg3LjY5MyAxNC43OTggMTg3LjY5
MyAxNS40OTRDMTg3LjY5MyAxNi4yMzIgMTg3LjEzNSAxNi44MDggMTg2LjMwMSAxNi44MDhDMTg1
LjQwMSAxNi44MDggMTg0LjU5NyAxNi4xNjYgMTgzLjE2MyAxNi4xNjZDMTgxLjczNSAxNi4xNjYg
MTgxLjMwMyAxNi42MzQgMTgxLjMwMyAxNy4xNTZaIi8+IDwvc3ZnPgo=" alt="HelloHumans">
        </a>
    </div>
    <div class="content">
        <p>Bonjour,</p>
        <p>Pour des raisons de sécurité, vous devez vous reconnecter pour poursuivre cette action.</p>
        <p style="text-align:center;margin-bottom: 0;">
            <a href="https://hellohumans.fr/panel/login?reauth=true" class="btn" target="_blank" rel="noopener noreferrer">
                Me reconnecter
            </a>
        </p>
        <p style="text-align:center;font-size: 14px;color: #8894ab;margin-top: 0;margin-bottom: 25px;">(Connexion sécurisée)</p>
        <p>Merci de votre compréhension,<br>L’équipe HelloHumans</p>
    </div>
    <div class="footer">
        <p>
            <a href="https://www.hellohumans.fr/">
                <img src="data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTg5IDI4IiBmaWxsPSIjMzAzZjlmIiB4bWxucz0iaHR0cDovL3d3
dy53My5vcmcvMjAwMC9zdmciPiA8cGF0aCBkPSJNNTIuNDcgMEM1NC41NCAwIDU2LjIzIDEuNjgg
NTYuMjMgMy43NlYyMy42N0M1Ni4yMyAyNS43NCA1NC41NSAyNy40MyA1Mi40NyAyNy40M0M1MC4z
OSAyNy40MyA0OC43MSAyNS43NSA0OC43MSAyMy42N1YzLjc2QzQ4LjcxIDEuNjkgNTAuMzkgMCA1
Mi40NyAwWk02Mi42NyAwQzY0Ljc0IDAgNjYuNDMgMS42OCA2Ni40MyAzLjc2VjIzLjY3QzY2LjQz
IDI1Ljc0IDY0Ljc1IDI3LjQzIDYyLjY3IDI3LjQzQzYwLjU5IDI3LjQzIDU4LjkxIDI1Ljc1IDU4
LjkxIDIzLjY3VjMuNzZDNTguOTEgMS42OSA2MC41OSAwIDYyLjY3IDBaTTQyLjg5IDE4Ljc4SDMz
LjAxQzMzLjU2IDIwLjU4IDM1LjEyIDIxLjc3IDM3LjM2IDIxLjc3QzM5LjYgMjEuNzcgNDAuNjUg
MjAuNzUgNDIuMzkgMjAuNzVDNDMuOTUgMjAuNzUgNDUuMTQgMjEuNjkgNDUuMTQgMjMuMjlDNDUu
MTQgMjUuOTkgNDEuNTkgMjcuNTUgMzcuMTIgMjcuNTVDMzAuNyAyNy41NSAyNS45NyAyMi44OCAy
NS45NyAxNy4xNUMyNS45NyAxMS40MiAzMC4xOSA2LjcxIDM2Ljc0IDYuNzFDNDMuMjkgNi43MSA0
Ni43NSAxMS4wNSA0Ni43NSAxNS4wNkM0Ni43NSAxNy4yNyA0NS40NCAxOC43OSA0Mi45MSAxOC43
OUw0Mi44OSAxOC43OFpNMzMuMTMgMTQuNzdIMzkuODlDMzkuMzQgMTMuMDEgMzguMDcgMTIuMjMg
MzYuNTEgMTIuMjNDMzQuODYgMTIuMjMgMzMuNjggMTMuMjEgMzMuMTMgMTQuNzdaTTc5LjI3IDYu
N0M4NS4xNiA2LjcgOTAgMTEuMzUgOTAgMTcuMTFDOTAgMjIuODcgODUuMTYgMjcuNDggNzkuMjcg
MjcuNDhDNzMuMzggMjcuNDggNjguNTQgMjIuODMgNjguNTQgMTcuMTFDNjguNTQgMTEuMzkgNzMu
MzggNi43IDc5LjI3IDYuN1pNNzkuMjcgMTIuODZDNzcgMTIuODYgNzUuMzEgMTQuNyA3NS4zMSAx
Ny4xMUM3NS4zMSAxOS41MiA3Ni45OSAyMS4zMSA3OS4yNyAyMS4zMUM4MS41NSAyMS4zMSA4My4y
MyAxOS40NyA4My4yMyAxNy4xMUM4My4yMyAxNC43NSA4MS41NSAxMi44NiA3OS4yNyAxMi44NlpN
MTkuODMgMS4wOUMxNy42MSAxLjA5IDE1LjggMi44OSAxNS44IDUuMTJWMTMuNTlDMTQuMjIgMTUu
MDcgMTEuNyAxNC45NyAxMC42OSAxNC44NUMxMC42IDE0Ljg0IDEwLjUzIDE0LjkzIDEwLjU2IDE1
LjAxQzEwLjgyIDE1LjY5IDExLjk2IDE3LjgzIDE1LjggMTguNjFWMjMuMzlDMTUuOCAyNS42MSAx
Ny42IDI3LjQyIDE5LjgzIDI3LjQyQzIyLjA2IDI3LjQyIDIzLjg2IDI1LjYyIDIzLjg2IDIzLjM5
VjUuMTJDMjMuODYgMi45IDIyLjA2IDEuMDkgMTkuODMgMS4wOVpNNCAxMy40N0MzLjk5IDEzLjM3
IDQuMDkgMTMuMyA0LjE4IDEzLjM1QzQuNzIgMTMuNjMgNi4yOSAxNC4zNyA4LjA2IDE0LjQ5VjUu
MTJDOC4wNiAyLjkgNi4yNiAxLjA5IDQuMDMgMS4wOUMxLjggMS4wOSAwIDIuODkgMCA1LjEyVjIz
LjRDMCAyNS42MiAxLjggMjcuNDMgNC4wMyAyNy40M0M2LjI2IDI3LjQzIDguMDYgMjUuNjMgOC4w
NiAyMy40VjE4LjI3QzQuNzYgMTcuMzIgNC4xMiAxNC4zMyA0IDEzLjQ3WiIvPiA8cGF0aCBkPSJN
MTA5IDkuMzk4QzEwOS45NTQgOS4zOTggMTEwLjc0IDEwLjIwOCAxMTAuNzQgMTEuMTYyVjI0LjM5
OEMxMTAuNzQgMjUuMzUyIDEwOS45NTQgMjYuMTYyIDEwOSAyNi4xNjJDMTA4LjA0NiAyNi4xNjIg
MTA3LjI2IDI1LjM1MiAxMDcuMjYgMjQuMzk4VjE5LjE0Mkg5OC45OFYyNC4zOThDOTguOTggMjUu
MzUyIDk4LjE5NCAyNi4xNjIgOTcuMjQgMjYuMTYyQzk2LjI4NiAyNi4xNjIgOTUuNSAyNS4zNTIg
OTUuNSAyNC4zOThWMTEuMTYyQzk1LjUgMTAuMjA4IDk2LjI4NiA5LjM5OCA5Ny4yNCA5LjM5OEM5
OC4xOTQgOS4zOTggOTguOTggMTAuMjA4IDk4Ljk4IDExLjE2MlYxNS45ODZIMTA3LjI2VjExLjE2
MkMxMDcuMjYgMTAuMjA4IDEwOC4wNDYgOS4zOTggMTA5IDkuMzk4Wk0xMjMuNDYgMTMuNjdDMTI0
LjM5NiAxMy42NyAxMjUuMTQ2IDE0LjQyIDEyNS4xNDYgMTUuMzU2VjI0LjQ3NkMxMjUuMTQ2IDI1
LjQxMiAxMjQuMzk2IDI2LjE2MiAxMjMuNDYgMjYuMTYyQzEyMi41NDIgMjYuMTYyIDEyMS43ODYg
MjUuNDEyIDEyMS43ODYgMjQuNDc2VjI0LjIxOEMxMjEuMzA2IDI1LjI1IDEyMC4yNjIgMjYuMzI0
IDExOC4xMDIgMjYuMzI0QzExNS43MDIgMjYuMzI0IDExMy43NDYgMjQuNjg2IDExMy43NDYgMjEu
NzU4VjE1LjM1NkMxMTMuNzQ2IDE0LjQyIDExNC41MDIgMTMuNjcgMTE1LjQyIDEzLjY3QzExNi4z
NTYgMTMuNjcgMTE3LjEwNiAxNC40MiAxMTcuMTA2IDE1LjM1NlYyMC4zODRDMTE3LjEwNiAyMi40
NjYgMTE4LjA5NiAyMy4xNjggMTE5LjMyNiAyMy4xNjhDMTIwLjUyNiAyMy4xNjggMTIxLjc4NiAy
Mi40NjYgMTIxLjc4NiAyMC4zODRWMTUuMzU2QzEyMS43ODYgMTQuNDIgMTIyLjU0MiAxMy42NyAx
MjMuNDYgMTMuNjdaTTE0Mi44MTIgMTMuNTA4QzE0NS4wOTIgMTMuNTA4IDE0Ni44MDggMTUuMDYy
IDE0Ni44MDggMTcuOTlWMjQuNDc2QzE0Ni44MDggMjUuNDEyIDE0Ni4wNTggMjYuMTYyIDE0NS4x
MzQgMjYuMTYyQzE0NC4yMDQgMjYuMTYyIDE0My40NDggMjUuNDEyIDE0My40NDggMjQuNDc2VjE5
LjQ0OEMxNDMuNDQ4IDE3LjM2NiAxNDIuNTc4IDE2LjY2NCAxNDEuNDI2IDE2LjY2NEMxNDAuMzQ2
IDE2LjY2NCAxMzkuMTY0IDE3LjM2NiAxMzkuMTY0IDE5LjQ0OFYyNC40NzZDMTM5LjE2NCAyNS40
MTIgMTM4LjQxNCAyNi4xNjIgMTM3LjQ5IDI2LjE2MkMxMzYuNTYgMjYuMTYyIDEzNS44MDQgMjUu
NDEyIDEzNS44MDQgMjQuNDc2VjE5LjQ0OEMxMzUuODA0IDE3LjM2NiAxMzQuOTM0IDE2LjY2NCAx
MzMuNzgyIDE2LjY2NEMxMzIuNzAyIDE2LjY2NCAxMzEuNTIgMTcuMzY2IDEzMS41MiAxOS40NDhW
MjQuNDc2QzEzMS41MiAyNS40MTIgMTMwLjc3IDI2LjE2MiAxMjkuODQ2IDI2LjE2MkMxMjguOTE2
IDI2LjE2MiAxMjguMTYgMjUuNDEyIDEyOC4xNiAyNC40NzZWMTUuMzU2QzEyOC4xNiAxNC40MiAx
MjguOTE2IDEzLjY3IDEyOS44NDYgMTMuNjdDMTMwLjc3IDEzLjY3IDEzMS41MiAxNC40MiAxMzEu
NTIgMTUuMzU2VjE1LjYxNEMxMzIgMTQuNTgyIDEzMy4wODYgMTMuNTA4IDEzNS4xNjggMTMuNTA4
QzEzNi44MTIgMTMuNTA4IDEzOC4xNjIgMTQuMzEyIDEzOC43ODYgMTUuODZDMTM5LjU2IDE0LjQy
IDE0MC44OTggMTMuNTA4IDE0Mi44MTIgMTMuNTA4Wk0xNTUuMzYgMTMuNTkyQzE1OC45MDYgMTMu
NTkyIDE2MC42ODggMTQuOTg0IDE2MC42ODggMTguNDUyVjI0LjQ3NkMxNjAuNjg4IDI1LjQxMiAx
NTkuOTM4IDI2LjE2MiAxNTkuMDE0IDI2LjE2MkMxNTguMDg0IDI2LjE2MiAxNTcuMzI4IDI1LjQx
MiAxNTcuMzI4IDI0LjQ3NlYyNC4yOTZDMTU2LjUyNCAyNS42NDYgMTU1LjE5OCAyNi4zMjQgMTUz
LjU5IDI2LjMyNEMxNTEuMzEgMjYuMzI0IDE0OS4zODQgMjQuOTkyIDE0OS4zODQgMjIuNTA4QzE0
OS4zODQgMTkuOTk0IDE1MS41NjggMTguNTg0IDE1NC41MzIgMTguNTg0QzE1NS40MzIgMTguNTg0
IDE1Ni4zMiAxOC43MzQgMTU3LjMxNiAxOS4wNThWMTguNzQ2QzE1Ny4zMTYgMTcuMzA2IDE1Ni42
MDggMTYuNTE0IDE1NC43NDggMTYuNTE0QzE1My43ODggMTYuNTE0IDE1My4wNjggMTYuNzQ4IDE1
Mi41NDYgMTYuOTM0QzE1Mi4xMDggMTcuMTAyIDE1MS43OTYgMTcuMjE2IDE1MS4zNCAxNy4yMTZD
MTUwLjczNCAxNy4yMTYgMTUwLjA5OCAxNi43MzYgMTUwLjA5OCAxNS45MDhDMTUwLjA5OCAxNS4y
NDIgMTUwLjUgMTQuNzA4IDE1MS4yMzIgMTQuMzlDMTUyLjIwNCAxMy45ODIgMTUzLjU5IDEzLjU5
MiAxNTUuMzYgMTMuNTkyWk0xNTQuNDQ4IDIzLjgyOEMxNTUuOTg0IDIzLjgyOCAxNTcuMjc0IDIy
Ljc1NCAxNTcuMzIyIDIxLjA1NlYyMC45NjZDMTU2LjUgMjAuNjE4IDE1NS42OSAyMC40NzQgMTU0
Ljk4OCAyMC40NzRDMTUzLjM4NiAyMC40NzQgMTUyLjU1OCAyMS4wNjggMTUyLjU1OCAyMi4yMDJD
MTUyLjU1OCAyMy4zMTggMTUzLjMyIDIzLjgyOCAxNTQuNDQ4IDIzLjgyOFpNMTcwLjg3OSAxMy41
MDhDMTczLjI3OSAxMy41MDggMTc1LjM1NSAxNS4wNjIgMTc1LjM1NSAxNy45OVYyNC40NzZDMTc1
LjM1NSAyNS40MTIgMTc0LjYwNSAyNi4xNjIgMTczLjY4MSAyNi4xNjJDMTcyLjc1MSAyNi4xNjIg
MTcxLjk5NSAyNS40MTIgMTcxLjk5NSAyNC40NzZWMTkuNDQ4QzE3MS45OTUgMTcuMzY2IDE3MC45
MjcgMTYuNjY0IDE2OS42NTUgMTYuNjY0QzE2OC40NTUgMTYuNjY0IDE2Ny4wNzUgMTcuMzY2IDE2
Ny4wNzUgMTkuNDQ4VjI0LjQ3NkMxNjcuMDc1IDI1LjQxMiAxNjYuMzI1IDI2LjE2MiAxNjUuNDAx
IDI2LjE2MkMxNjQuNDcxIDI2LjE2MiAxNjMuNzE1IDI1LjQxMiAxNjMuNzE1IDI0LjQ3NlYxNS4z
NTZDMTYzLjcxNSAxNC40MiAxNjQuNDcxIDEzLjY3IDE2NS40MDEgMTMuNjdDMTY2LjMyNSAxMy42
NyAxNjcuMDc1IDE0LjQyIDE2Ny4wNzUgMTUuMzU2VjE1LjYxNEMxNjcuNTU1IDE0LjU4MiAxNjgu
NzE5IDEzLjUwOCAxNzAuODc5IDEzLjUwOFpNMTgxLjMwMyAxNy4xNTZDMTgxLjMwMyAxOC44NDgg
MTg4LjAyMyAxNy43MDggMTg4LjAyMyAyMi4zMzRDMTg4LjAyMyAyNS4wNjQgMTg1LjY5NSAyNi4z
MjQgMTgyLjUyMSAyNi4zMjRDMTgxLjA2MyAyNi4zMjQgMTc5LjYzNSAyNi4wNzIgMTc4LjY2OSAy
NS42ODhDMTc4LjA5MyAyNS40NjYgMTc3LjcwOSAyNC45OTIgMTc3LjcwOSAyNC4zOEMxNzcuNzA5
IDIzLjYgMTc4LjI2MSAyMyAxNzkuMTEzIDIzQzE4MC4xMDMgMjMgMTgwLjk2MSAyMy42MjQgMTgy
LjYxMSAyMy42MjRDMTgzLjc3NSAyMy42MjQgMTg0LjY4NyAyMy40MDIgMTg0LjY4NyAyMi41OTJD
MTg0LjY4NyAyMC43MDIgMTc4LjAyNyAyMS44ODQgMTc4LjAyNyAxNy4zOTZDMTc4LjAyNyAxNC43
MzggMTgwLjM5MSAxMy41MDggMTgzLjIxMSAxMy41MDhDMTg0LjUxOSAxMy41MDggMTg1Ljc5NyAx
My43NDIgMTg2LjY5MSAxNC4xMDhDMTg3LjMzMyAxNC4zNjYgMTg3LjY5MyAxNC43OTggMTg3LjY5
MyAxNS40OTRDMTg3LjY5MyAxNi4yMzIgMTg3LjEzNSAxNi44MDggMTg2LjMwMSAxNi44MDhDMTg1
LjQwMSAxNi44MDggMTg0LjU5NyAxNi4xNjYgMTgzLjE2MyAxNi4xNjZDMTgxLjczNSAxNi4xNjYg
MTgxLjMwMyAxNi42MzQgMTgxLjMwMyAxNy4xNTZaIi8+IDwvc3ZnPgo=" alt="HelloHumans" style="height:30px;width:auto;margin:auto;text-align:center;margin-bottom:10px;">
            </a><br>
            Copyright © 2025 HelloHumans – Tous droits réservés<br>
            <a href="mailto:support@hellohumans.fr">support@hellohumans.fr</a>
        </p>
    </div>
</div>
</body>
</html>
